#banner {
    color: #08c;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    background-color: #ddd;
}
div#bannerLeft > h2 {
	font-size:45px;
	padding: 5px;
}

#bannerRight {
    color: #fff;
}